<a href="https://colab.research.google.com/github/israelmachado15/Desafio-Agendas/blob/main/Desafio_Agenda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Desafio Agendas**

In [13]:
# importando as bibliotecas necessárias
import numpy as np
import datetime as dt
from datetime import timedelta
import pandas as pd

In [14]:
#Acabei copiando do documento mas acredito que esses dados
#serão inseridos por algum tipo de sistema
inicioA = ['9:00', '20:00']
pessoaA = [['9:00', '10:30'], 
           ['12:00', '13:00'], 
           ['16:00', '18:00']]

inicioB = ['10:00', '18:30']
pessoaB = [['10:00', '11:30'], 
           ['12:30', '14:30'], 
           ['14:30', '15:00'], 
           ['16:00','17:00']]

In [15]:
stt = dt.timedelta(hours=9)
stp = dt.timedelta(minutes=30)
end = dt.timedelta(hours=20)

entireRange = 2*((end-stt).seconds//3600)+1

aa = pd.to_timedelta(stt+np.arange(entireRange)*stp, unit='H')
data = {'Grade Horaria' : aa}
df = pd.DataFrame(data)

df

     Grade Horaria
0  0 days 09:00:00
1  0 days 09:30:00
2  0 days 10:00:00
3  0 days 10:30:00
4  0 days 11:00:00
5  0 days 11:30:00
6  0 days 12:00:00
7  0 days 12:30:00
8  0 days 13:00:00
9  0 days 13:30:00
10 0 days 14:00:00
11 0 days 14:30:00
12 0 days 15:00:00
13 0 days 15:30:00
14 0 days 16:00:00
15 0 days 16:30:00
16 0 days 17:00:00
17 0 days 17:30:00
18 0 days 18:00:00
19 0 days 18:30:00
20 0 days 19:00:00
21 0 days 19:30:00
22 0 days 20:00:00

In [16]:
dfA = pd.DataFrame(pessoaA,columns = ["Inicio", "Fim"])
dfB = pd.DataFrame(pessoaB,columns = ["Inicio", "Fim"])
dfA

  Inicio    Fim
0   9:00  10:30
1  12:00  13:00
2  16:00  18:00

In [17]:
dfB

  Inicio    Fim
0  10:00  11:30
1  12:30  14:30
2  14:30  15:00
3  16:00  17:00

In [18]:
#Criando as colunas relativas a pessoa A e B em df
df["Pessoa_A"] = "Livre"
df["Pessoa_B"] = "Livre"
df

     Grade Horaria Pessoa_A Pessoa_B
0  0 days 09:00:00    Livre    Livre
1  0 days 09:30:00    Livre    Livre
2  0 days 10:00:00    Livre    Livre
3  0 days 10:30:00    Livre    Livre
4  0 days 11:00:00    Livre    Livre
5  0 days 11:30:00    Livre    Livre
6  0 days 12:00:00    Livre    Livre
7  0 days 12:30:00    Livre    Livre
8  0 days 13:00:00    Livre    Livre
9  0 days 13:30:00    Livre    Livre
10 0 days 14:00:00    Livre    Livre
11 0 days 14:30:00    Livre    Livre
12 0 days 15:00:00    Livre    Livre
13 0 days 15:30:00    Livre    Livre
14 0 days 16:00:00    Livre    Livre
15 0 days 16:30:00    Livre    Livre
16 0 days 17:00:00    Livre    Livre
17 0 days 17:30:00    Livre    Livre
18 0 days 18:00:00    Livre    Livre
19 0 days 18:30:00    Livre    Livre
20 0 days 19:00:00    Livre    Livre
21 0 days 19:30:00    Livre    Livre
22 0 days 20:00:00    Livre    Livre

In [19]:
#Agora que tenho o DF com todos os Horários livre, preciso 
# marcar como ocupado os horarios em dfA e dfB. 

nLinesdfA = dfA['Inicio'].count()
nLinesdfB = dfB['Inicio'].count()

for i in np.arange(nLinesdfA) : 
  df.Pessoa_A[ (df['Grade Horaria'] >= '0 days '+dfA['Inicio'].iloc[i]+':00') & 
      (df['Grade Horaria'] <= '0 days '+dfA['Fim'].iloc[i]+':00')] = "Ocupado"


for i in np.arange(nLinesdfB) : 
  df.Pessoa_B[ (df['Grade Horaria'] >= '0 days '+dfB['Inicio'].iloc[i]+':00') & 
      (df['Grade Horaria'] <= '0 days '+dfB['Fim'].iloc[i]+':00')] = "Ocupado"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
df

     Grade Horaria Pessoa_A Pessoa_B
0  0 days 09:00:00  Ocupado    Livre
1  0 days 09:30:00  Ocupado    Livre
2  0 days 10:00:00  Ocupado  Ocupado
3  0 days 10:30:00  Ocupado  Ocupado
4  0 days 11:00:00    Livre  Ocupado
5  0 days 11:30:00    Livre  Ocupado
6  0 days 12:00:00  Ocupado    Livre
7  0 days 12:30:00  Ocupado  Ocupado
8  0 days 13:00:00  Ocupado  Ocupado
9  0 days 13:30:00    Livre  Ocupado
10 0 days 14:00:00    Livre  Ocupado
11 0 days 14:30:00    Livre  Ocupado
12 0 days 15:00:00    Livre  Ocupado
13 0 days 15:30:00    Livre    Livre
14 0 days 16:00:00  Ocupado  Ocupado
15 0 days 16:30:00  Ocupado  Ocupado
16 0 days 17:00:00  Ocupado  Ocupado
17 0 days 17:30:00  Ocupado    Livre
18 0 days 18:00:00  Ocupado    Livre
19 0 days 18:30:00    Livre    Livre
20 0 days 19:00:00    Livre    Livre
21 0 days 19:30:00    Livre    Livre
22 0 days 20:00:00    Livre    Livre

In [21]:
df[(df['Pessoa_A'] == 'Livre')& (df['Pessoa_B'] == 'Livre')]

     Grade Horaria Pessoa_A Pessoa_B
13 0 days 15:30:00    Livre    Livre
19 0 days 18:30:00    Livre    Livre
20 0 days 19:00:00    Livre    Livre
21 0 days 19:30:00    Livre    Livre
22 0 days 20:00:00    Livre    Livre